body {
    margin: 0;
    background-color: rgb(180, 155, 127);
  }
  header {
    overflow: hidden;
    background-color: rgb(193, 186, 186);
    text-align: center;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 4em;
    text-decoration: underline;
  }
  nav {
    text-align: center;
    margin: 20px 0 0 ;
    width: 100vw;
    font-size: 1.7rem;
    padding: 10px 0;
    color: green;
    text-shadow: rgb(75, 12, 47) 1px 1px 1px;
   }
  nav li {
    display: inline-block;
    margin-right: 5%;
    padding: 20px;
   }
  nav a {
    text-decoration: none;
    text-shadow: 12p 4px 12px black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
   
  }
  a:hover {
    background-color: rgb(118, 118, 93);
    color: rgb(209, 183, 183);
  }

  a:active {
    background: #04404a;
  }

  .top-link {
    border: none;
  }
  img {
    background-repeat: no-repeat;
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }