html, body {
    margin: 0;

}
nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3em;
    background-color: lightblue;
    text-decoration: none;;
   
}
nav ul li {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 0 2em;
    float: left;
}
nav ul li:first-child {
    float: right;
}
a {
    text-decoration: none;;
}
#about {
    padding: 5em 2em;
    height: 100vh;
    background-color: lightgoldenrodyellow;
}
section {
    height: 50vh;
    background-color: gold;
}