html {
    
    background-color: rgb(38, 91, 90);
}

body {
    padding: 0;
    margin: 0;
   
}
/* header  */
a {
    text-decoration: none;
    padding: .1em;
    color: white;
 }

header, h1, h3{
    text-align: center;
    display: flex;
    justify-content: center;
   
   
    color:azure;
    font-size: 2rem;
    margin: 5px;
    
}
.home-tab {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    margin-left: 10px;
    position:relative;
    bottom: 5px;
    
    border-radius: 5px;
    background-color: rgb(208, 255, 0);
}

/* HERO IMG */
 #hero {
    width: 100%;
    height: 90vh;
   
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-wixmp-ed30a86b8c4ca887773594c2.wixmp.com%2Ff%2Faa5b8ae0-9b79-45e5-9851-e7f2e74a78c9%2Fd51xdml-3af51a89-7e5b-4a30-9ffd-3bad694c9674.png%2Fv1%2Ffill%2Fw_900%2Ch_675%2Cq_80%2Cstrp%2Fjeopardy__board_by_wwe_xtreme_d51xdml-fullview.jpg%3Ftoken%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Njc1IiwicGF0aCI6IlwvZlwvYWE1YjhhZTAtOWI3OS00NWU1LTk4NTEtZTdmMmU3NGE3OGM5XC9kNTF4ZG1sLTNhZjUxYTg5LTdlNWItNGEzMC05ZmZkLTNiYWQ2OTRjOTY3NC5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.SUsKiTAVimkCwg0QY5Rahwkh4EB9WogSuSzbftYcq-Q&f=1&nofb=1&ipt=f62e78b6d370081e1315b8dd046ebcbf5ae71788020ff17c1254f49651a1b55f&ipo=images");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 30%;
    position: relative;
    z-index: 1;
}



#hero:after {
    content:"";
    position: absolute;
    left: 0;
    top: 0;
   
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: .5;
    z-index: -1;
}

/* GRID SECTION */
#grid { 
    display: grid;
    width: 80%;
    height: 300px;
    background-color: grey;
    margin: auto;
    grid-template-columns: repeat(6, 16.7%);
    grid-template-rows: repeat(6, 1fr);
   
}
.box {
    border: 1px solid white;
    display: flex;
  justify-content: center;
  align-items: center;
  
}
.a {font-size: 1rem;
   
    font-weight: bolder;
    background-color: gray;
}
.e {
    color: black;
    background-color: rgb(54, 61, 67);
}


/* USER INPUT/ GUESS/ SCORE */


input{
    margin:60px auto;
    display: flex;
    margin-top: 10px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
li  {
 margin-right: 70px;
 margin-left: 50px;
    padding: .1em;
    border-radius: 4px;
    background-color: blanchedalmond;
    border: 1px solid green;
}
p {
    color: maroon;
}
li:hover {

background-color: rgb(127, 127, 187);
border:3px solid black;

}
p:active {
    color: white;
   
}
h4 {
    font-size: 1rem;
    color: white;
}
.score-box {
    display: flex;
    justify-content: space-around;
   margin: 0;
    
   
 
/* NEXT ROUND */
}
.next-page{
    display: inline-block;
    float: right;
    margin-right: 60px;
    border: 1px solid black;
    border-radius: 5px; 
    color: white;
    padding: .4em;
    background-color: rgb(106, 120, 120);
   
 }
 
.next-page:hover {
    background-color: rgb(65, 160, 160);

}
/* FOOTER */

 footer  h6{
    background-color: beige;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
h6 {
    padding: 30px;
font-size: 1.5em;
}
@media (max-width:950px) {
          #grid{
            width: 650px;
            

         }
        .a { 
            font-size: .7em;
            color: rgb(59, 30, 30);
        }
        footer h6 {
            background-color: blueviolet;
        }
} 
@media (max-width:650px) {
    #grid{
      width: 333px;
   }
  .a { 
      font-size: .3em;
      color: black;
  }
  footer h6 {
      background-color: blueviolet;
  }
} 
